doctype html
html
  head
    title IT 2014

    link rel="stylesheet" href="style.css"

    script src="http://yastatic.net/jquery/1.11.1/jquery.min.js"
    script src="game.js"

  body
    h1 IT 2014

    #map

    #board
      .fig-1.deg-0
      .fig-1.deg-90
      .fig-1.deg-180
      .fig-1.deg-270

      .fig-2.deg-0
      .fig-2.deg-90
      .fig-3.deg-0
      .fig-3.deg-90
      .fig-3.deg-180
      .fig-3.deg-270
      .fig-4.deg-0
      .fig-4.deg-90
      .fig-4.deg-180
      .fig-4.deg-270

      .fig-2.deg-0.on
      .fig-2.deg-90.on
      .fig-3.deg-0.on
      .fig-3.deg-90.on
      .fig-3.deg-180.on
      .fig-3.deg-270.on
      .fig-4.deg-0.on
      .fig-4.deg-90.on
      .fig-4.deg-180.on
      .fig-4.deg-270.on

    #console
      .test
